tutorialJAXB/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/employees/" targetNamespace="http://www.example.org/employees/">
    <complexType name="EmployeeType">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="salary" type="string"></element>
    		<element name="city" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Employees">
    	<complexType>
    		<sequence>
    			<element name="Employee" type="tns:EmployeeType" maxOccurs="unbounded" minOccurs="1"></element>
    		</sequence>
    	</complexType>
    </element>
</schema>